aside {
	/*visibility: hidden;*/
	/*background-color: gray;*/
	font-family: sans-serif;
	flex-basis: 25%;
	/*flex-shrink: 0;*/
	/*flex-grow: 30%;*/
	/*width: 20%;*/
	/*height: 100vh;*/
/*	position: fixed;
*/	/*display: inline-block;*/
	
}

aside h2 {
	text-align: center;
}
aside ul {
	list-style: none;
	padding: 0 1em;
}

aside a {
	text-decoration: none;
}
aside a:visited {
	text-decoration: none;
}
aside a:hover {
	text-decoration: none;

}
