
header {
	/*position: fixed;
	z-index: 1;*/
	position: -webkit-sticky;
	position: sticky;
	top: 0px;	

	width: 100%; 
}
nav {
	
	font-size: 1.5em;
	font-family: Arial, sans-serif;
}

nav ul {
	list-style: none;
	border-style: solid;
	border-color: gray;

	margin: 0;	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;

}

nav li {
	/*border-style: solid;
	border-color: white;*/
	/*width: 15%;
	display: inline-block;
	*/
	margin: 0 0;
	padding: 0;
	flex-basis: content;
	flex-grow: 0;
	flex-shrink: content;
}

nav a {
	text-decoration: none;
	/*
	color: white;*/
	padding: 0em 1em;
	width: 100%;
	/*transition: color 0.3s;
	transition-timing-function: ease-in;*/

	/*z-index: 10;*/
	text-align: center;
}
nav a:visited {
	/*color: white;*/
}
nav a:hover {
	text-decoration: none;

	/*

	color: grey;
	*/

}

#nav-bar-with-external-links {

	/*background-color: rgba( 38, 124, 152, 0.8);*/
	background-color: rgba(255,255,255,0.9);
	
}

#nav-bar-with-external-links ul {
	justify-content: flex-end;
	

	
}
#nav-bar-with-internal-links {
	/*background-color: rgba(26, 82, 118, 0.9);*/
	background-color: rgba(255,255,255,0.75);

	/*-webkit-filter: blur(2px);
	filter: blur(2px);*/


}
#nav-bar-with-internal-links ul {

}

/*COlores de la paleta de la identidad institucional:





*/

